:root {
  --theme-color: #0183ff;
  --navbar-root-transition: all 0.2s ease-in-out;
  --cover-heading-font-size-max: 100;
  --cover-heading-font-size-min: 70;
  --small-font-size: 1.1rem;
  --cover-background-color: #fff;
  --cover-heading-color: #000;
  /* --cover-text-align: left; */
  --cover-max-width: 80em;
}
.cover pre[data-lang] {
  position: relative;
  overflow: hidden;
  margin: var(--code-block-margin);
  padding: 0;
  border-radius: var(--code-block-border-radius);
}
.cover {
  font-size: 1.2rem;
}
.cover h2 {
  font-size: 2rem !important;
}
.cover .cover-main > p:last-child {
  margin: 1.25em -0.25em;
}

.cover .docsify-copy-code-button {
  display: none;
}

.cover .cover-main > p:last-child a:first-child {
  border: var(--cover-button-primary-border, var(--cover-button-border));
  box-shadow: var(
    --cover-button-primary-box-shadow,
    var(--cover-button-box-shadow)
  );
  background: var(
    --cover-button-primary-background,
    var(--cover-button-background)
  );
  -webkit-text-decoration: var(
    --cover-button-primary-text-decoration,
    var(--cover-button-text-decoration)
  );
  text-decoration: var(
    --cover-button-primary-text-decoration,
    var(--cover-button-text-decoration)
  );
  -webkit-text-decoration-color: var(
    --cover-button-primary-text-decoration-color,
    var(--cover-button-text-decoration-color)
  );
  text-decoration-color: var(
    --cover-button-primary-text-decoration-color,
    var(--cover-button-text-decoration-color)
  );
  color: var(--cover-button-primary-color, var(--cover-button-color));
}
.cover code[class*="lang-"],
.cover pre[data-lang] {
  font-family: var(--code-font-family);
  font-size: var(--code-font-size);
  font-weight: var(--code-font-weight);
  letter-spacing: normal;
  line-height: var(--code-block-line-height);
  -moz-tab-size: var(--code-tab-size);
  -o-tab-size: var(--code-tab-size);
  tab-size: var(--code-tab-size);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-wrap: normal;
  word-break: normal;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.cover pre[data-lang] code {
  display: block;
  overflow: auto;
  padding: var(--code-block-padding);
}
.cover .cover-main {
  width: 100%;
  padding-top: 8em;
}
body[data-page="README.md"] main {
  display: none;
}
.docsify-copy-code-button .error {
  display: none;
}
.docsify-copy-code-button .success {
  display: none;
}
.app-nav li:hover {
  color: #0183ff !important;
}
.sidebar > h1 img {
  width: 100px;
}
section.cover blockquote p {
  font-size: 1.7rem;
  line-height: 1.25em;
  margin: 1em 0;
}
section.cover a:hover {
  text-decoration: none;
}

.cover h1 small {
  margin-left: 0.2em;
}
.cover h1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.cover .cover-main > p:nth-child(3) a:first-child:hover {
  background-color: #43a0f7;
}
.cover .cover-main > p:nth-child(3) a:last-child:hover {
  border-color: #43a0f7;
  color: #43a0f7;
}

@media (max-width: 600px) {
  .app-nav ul {
    display: flex;
  }
  .app-nav a[title="Why hmpl?"] {
    display: none;
  }
  .app-nav li {
    font-size: 0.9em;
  }
  .app-nav li:nth-child(5) {
    margin: 0 !important;
  }
  section.cover blockquote p {
    line-height: 1.2em;
    margin: 0.5em 0 0;
  }
}

.cover .cover-main > p:nth-child(3) a:first-child {
  border: var(--cover-button-primary-border, var(--cover-button-border));
  box-shadow: var(
    --cover-button-primary-box-shadow,
    var(--cover-button-box-shadow)
  );
  background: var(
    --cover-button-primary-background,
    var(--cover-button-background)
  );
  -webkit-text-decoration: var(
    --cover-button-primary-text-decoration,
    var(--cover-button-text-decoration)
  );
  text-decoration: var(
    --cover-button-primary-text-decoration,
    var(--cover-button-text-decoration)
  );
  -webkit-text-decoration-color: var(
    --cover-button-primary-text-decoration-color,
    var(--cover-button-text-decoration-color)
  );
  text-decoration-color: var(
    --cover-button-primary-text-decoration-color,
    var(--cover-button-text-decoration-color)
  );
  color: var(--cover-button-primary-color, var(--cover-button-color));
}

.cover .cover-main > p:nth-child(3) a {
  margin: 0.375em 0.25em;
  padding: var(--cover-button-padding);
  border: var(--cover-button-border);
  border-radius: var(--cover-button-border-radius);
  box-shadow: var(--cover-button-box-shadow);
  background: var(--cover-button-background);
  text-align: center;
  -webkit-text-decoration: var(--cover-button-text-decoration);
  text-decoration: var(--cover-button-text-decoration);
  -webkit-text-decoration-color: var(--cover-button-text-decoration-color);
  text-decoration-color: var(--cover-button-text-decoration-color);
  color: var(--cover-button-color);
  white-space: nowrap;
  transition: var(--cover-button-transition);
}

.cover .cover-main h2 {
  margin: var(--heading-h2-margin, var(--heading-margin));
  padding: var(--heading-h2-padding, var(--heading-padding));
  font-family: var(--heading-h2-font-family, var(--heading-font-family));
  font-size: var(--heading-h2-font-size);
}

.cover .cover-main p:nth-child(10) {
  font-size: 1.5rem;
}

.cover .cover-main .features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}

#features {
  margin-top: 3em;
}

.feature {
  box-shadow: 0 0 5px #f5f5f5;
  border-radius: 20px;
  padding: 10px 5px;
}

@media screen and (max-width: 768px) {
  .cover .cover-main > p:nth-child(3) a {
    display: block;
  }

  .cover .cover-main .features {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .cover .cover-main {
    padding-top: 4em;
  }

  .cover h2 {
    font-size: 1.7rem !important;
  }
}
